* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
}
.joke {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    margin-top: 40vh;
    padding: 2.5rem;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.2rem;
    margin-top: 5vh;
}